PORT=5001
DB_USER=ankit
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_management
JWT_SECRET=task-management-secret-key-2024-super-secure-change-in-production
NODE_ENV=development
DATABASE_URL=postgresql://taskdb_k5ug_user:TC8myE7BbI7PNUn7zQdZnrYHXhhfOkII@dpg-d7buig94tr6s73bbhqd0-a.oregon-postgres.render.com/taskdb_k5ug