PORT=5001
DB_USER=ankit
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_management
JWT_SECRET=task-management-secret-key-2024-super-secure-change-in-production
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_JXfG6IVKW7FO@ep-quiet-boat-aoo7e692.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require